<script context="module">
  import { validateArray, validateNonEmptyTrimmedString } from "@biryani/core"
  import { Client } from "@retruco/core/lib/client"
  import { Survey } from "@retruco/core/lib/survey"

  import config from "../../../../../config"
  import { validateJsonResponse } from "../../../../../validators/responses"
  import { localize } from "../../../../../stores"

  export async function preload(page /* , session */) {
    const { clientSegment } = page.params

    let client
    {
      const response = await this.fetch(
        new URL(
          `clients/${encodeURIComponent(clientSegment)}`,
          config.api.url,
        ).toString(),
        {
          credentials: "same-origin",
        },
      )
      const [result, error] = await validateJsonResponse(Client.validateJson)(
        response,
      )
      if (error != null) {
        return this.error(
          `Error at ${page.path}, while retrieving client: ${JSON.stringify(
            error,
            null,
            2,
          )}\n\n${JSON.stringify(result, null, 2)}`,
        )
      }
      client = result
    }

    let surveys
    {
      const response = await this.fetch(
        new URL("surveys", config.api.url).toString(),
        {
          credentials: "same-origin",
        },
      )
      const [result, error] = await validateJsonResponse(validateSurveysResult)(
        response,
      )
      if (error != null) {
        return this.error(
          `Error at ${page.path}, while retrieving surveys: ${JSON.stringify(
            error,
            null,
            2,
          )}\n\n${JSON.stringify(result, null, 2)}`,
        )
      }
      surveys = result.surveys
    }

    return { client, surveys }
  }

  function validateSurveysResult(data) {
    if (data === null || data === undefined) {
      return [data, "Missing value"]
    }
    if (typeof data !== "object") {
      return [data, `Expected an object got "${typeof data}"`]
    }

    data = { ...data }
    const errors = {}
    const remainingKeys = new Set(Object.keys(data))

    {
      const key = "surveys"
      remainingKeys.delete(key)
      const [value, error] = validateArray(Survey.validateJson)(data[key])
      data[key] = value
      if (error !== null) {
        errors[key] = error
      }
    }

    for (let key of remainingKeys) {
      errors[key] = "Unexpected item"
    }
    return [data, Object.keys(errors).length === 0 ? null : errors]
  }
</script>

<script>
  import Button from "smelte/src/components/Button"
  import Select from "smelte/src/components/Select"
  import TextField from "smelte/src/components/TextField"

  import { goto, stores } from "@sapper/app"
  import { proposedLanguagesAndLabels } from "../../../../../locales"

  export let client
  export let surveys

  let clientToken = null
  let choosenLanguage = null
  const { page /* , preloading, session */ } = stores()
  let surveySegment = null
  let username = null

  async function submit() {
    // eslint-disable-next-line no-undef
    const response = await fetch(
      new URL("sessions", config.api.url).toString(),
      {
        body: JSON.stringify(
          {
            clientSegment: client.segment,
            clientToken,
            language: choosenLanguage,
            username,
          },
          null,
          2,
        ),
        credentials: "same-origin",
        headers: {
          "Content-Type": "application/json; charset=utf-8",
        },
        method: "POST",
      },
    )

    const [result, error] = await validateJsonResponse(
      validateSessionStartResult,
    )(response)
    if (error !== null) {
      console.error(
        `Error at ${$page.path}, while starting client: ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
      return
    }

    const { sessionToken } = result
    goto(
      `embed/surveys/${encodeURIComponent(
        surveySegment,
      )}/quiz?session=${encodeURIComponent(sessionToken)}`,
    )
  }

  function validateSessionStartResult(data) {
    if (data === null || data === undefined) {
      return [data, "Missing value"]
    }
    if (typeof data !== "object") {
      return [data, `Expected an object got "${typeof data}"`]
    }

    data = { ...data }
    const errors = {}
    const remainingKeys = new Set(Object.keys(data))

    for (const key of ["sessionToken"]) {
      remainingKeys.delete(key)
      const [value, error] = validateNonEmptyTrimmedString(data[key])
      data[key] = value
      if (error !== null) {
        errors[key] = error
      }
    }

    for (let key of remainingKeys) {
      errors[key] = "Unexpected item"
    }
    return [data, Object.keys(errors).length === 0 ? null : errors]
  }
</script>

<svelte:head>
  <title>
    Start | {client.name} | {$localize("Clients")} | {$localize("Retruco")}
  </title>
</svelte:head>

<h1>{client.name}</h1>

<form on:submit|preventDefault={submit}>
  <TextField
    bind:value={clientToken}
    id="clientToken"
    label={$localize("Client_Token")}
    required
    type="text" />
  <TextField
    bind:value={username}
    id="username"
    label={$localize("Username")}
    required
    type="text" />
  <Select
    bind:value={surveySegment}
    items={surveys.map(({ name, segment }) => ({ text: name, value: segment }))}
    label={$localize("Survey")} />
  <Select
    bind:value={choosenLanguage}
    items={proposedLanguagesAndLabels.map(([language, name]) => ({
      text: name,
      value: language,
    }))}
    label={$localize("Language")} />
  <div class="py-2">
    <Button type="submit">{$localize("Start")}</Button>
  </div>
</form>
