<script context="module">
  import { validateChoice } from "@biryani/core"

  import config from "../../config"
  import { acceptedLanguages } from "../../locales"
  import { validateJsonResponse } from "../../validators/responses"
  import { language, localize } from "../../stores"

  export async function preload(page /* , session */) {
    const { session: sessionToken } = page.query
    if (!sessionToken) {
      return this.error(
        400,
        `Error at ${page.path}: Session token missing from URL query`,
      )
    }

    let currentLanguage
    {
      const response = await this.fetch(
        new URL("language", config.api.url).toString(),
        {
          body: JSON.stringify(
            {
              sessionToken,
            },
            null,
            2,
          ),
          credentials: "same-origin",
          headers: {
            "Content-Type": "application/json; charset=utf-8",
          },
          method: "POST",
        },
      )

      const [result, error] = await validateJsonResponse(
        validateLanguageResult,
      )(response)
      if (error != null) {
        return this.error(
          `Error at ${page.path}, while retrieving language: ${JSON.stringify(
            error,
            null,
            2,
          )}\n\n${JSON.stringify(result, null, 2)}`,
        )
      }

      currentLanguage = result.language
      language.set(currentLanguage)
    }

    return { currentLanguage, sessionToken }
  }

  function validateLanguageResult(data) {
    if (data === null || data === undefined) {
      return [data, "Missing value"]
    }
    if (typeof data !== "object") {
      return [data, `Expected an object got "${typeof data}"`]
    }

    data = { ...data }
    const errors = {}
    const remainingKeys = new Set(Object.keys(data))

    {
      const key = "language"
      remainingKeys.delete(key)
      const [value, error] = validateChoice(acceptedLanguages)(data[key])
      data[key] = value
      if (error !== null) {
        errors[key] = error
      }
    }

    for (let key of remainingKeys) {
      errors[key] = "Unexpected item"
    }
    return [data, Object.keys(errors).length === 0 ? null : errors]
  }
</script>

<script>
  export let currentLanguage
  export let sessionToken

  $: $language = currentLanguage
</script>

<svelte:head>
  <title>{$localize("Retruco")}</title>
</svelte:head>

<h1>{$localize("Retruco")}</h1>
