<script>
  import Button from "smelte/src/components/Button"
  import { createEventDispatcher } from "svelte"

  import { localize } from "../../stores"

  export let answer
  export let hideSkip = false
  export let hideSubmit = false
  export let question
  export let readOnly = false
  export let sessionToken
  export let survey
  export let value

  const dispatch = createEventDispatcher()
</script>

<div>
  <div>{question.label}</div>

  {#if !question.required && !hideSkip}
    <Button on:click={() => dispatch("skipQuestion")} type="button">
      {$localize("Skip")}
    </Button>
  {/if}
  {#if !readOnly && !hideSubmit}
    <Button on:click={() => dispatch("submitAnswer", value)} type="button">
      {$localize("OK")}
    </Button>
  {/if}
</div>
