<script>
  import Button from "smelte/src/components/Button"
  import TextField from "smelte/src/components/TextField"
  import { createEventDispatcher } from "svelte"

  import { localize } from "../../stores"

  export let answer
  export let hideSkip = false
  export let hideSubmit = false
  export let question
  export let readOnly = false
  export let sessionToken
  export let survey
  export let value

  const dispatch = createEventDispatcher()
  const initialValue = value
</script>

<div>
  <TextField
    bind:value
    error={question.error}
    label={question.label}
    name={question.name || question.path}
    on:input={() => dispatch("valueChanged", { initialValue, value })}
    type="date" />
  <!-- Add attribute readonly={readOnly} once https://svelte.dev/repl/bcb160dff9ea466a81a8abf9c0e1852a is repaired.-->

  {#if !question.required && !hideSkip}
    <Button on:click={() => dispatch("skipQuestion")} type="button">
      {$localize("Skip")}
    </Button>
  {/if}
  {#if !readOnly && !hideSubmit}
    <Button on:click={() => dispatch("submitAnswer", value)} type="button">
      {$localize("OK")}
    </Button>
  {/if}
</div>
