<script>
  import { validateArray } from "@biryani/core"
  import { faThumbsUp } from "@fortawesome/free-solid-svg-icons/faThumbsUp"
  import {
    Autocompletion,
    AutocompletionWithDistance,
  } from "@retruco/core/lib/autocompletion"
  import { slugify } from "@retruco/core/lib/strings"
  import fetch from "cross-fetch"
  import Icon from "fa-svelte"
  import Button from "smelte/src/components/Button"
  import { createEventDispatcher } from "svelte"

  import { stores } from "@sapper/app"
  import Autocomplete from "../Autocomplete.svelte"
  import config from "../../config"
  import { localize } from "../../stores"
  import { validateJsonResponse } from "../../validators/responses"

  export let answer
  export let hideSkip = false
  export let hideSubmit = false
  export let question
  export let readOnly = false // TODO: handle flag.
  export let sessionToken
  export let survey
  export let value

  let autocompletionId = null
  let autocompletions = []
  let autocompletionText = null
  const dispatch = createEventDispatcher()
  const initialValue = value
  const { page /* , preloading, session */ } = stores()
  let showChangeKnowledgeDialog = false

  $: autocompletionSlug =
    autocompletionText === null ? null : slugify(autocompletionText)

  async function autocomplete({ detail: term }) {
    autocompletionId = null
    autocompletionText = term
    const response = await fetch(
      new URL(
        `widgets/autocompletions?domain=${encodeURIComponent(
          question.autocompletion.domain,
        )}&q=${encodeURIComponent(term)}`,
        config.api.url,
      ).toString(),
      {
        credentials: "same-origin",
      },
    )
    const [result, error] = await validateJsonResponse(
      validateAutocompleteResult,
    )(response)
    if (error !== null) {
      console.error(
        `Error at ${
          $page.path
        }, while retrieving autocompletions: ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
      return
    }
    autocompletions = result.autocompletions
  }

  function autocompletionSelected({ detail: item }) {
    autocompletionId = item.id
    autocompletionText = item.text
  }

  function clickYesNoButton(newValue) {
    value = newValue
    dispatch("valueChanged", { value, initialValue })
    if (!hideSubmit) {
      dispatch("submitAnswer", value)
    }
  }

  async function createKnowledge() {
    const response = await fetch(
      new URL("widgets/autocompletions", config.api.url).toString(),
      {
        body: JSON.stringify(
          {
            domain: question.autocompletion.domain,
            sessionToken,
            text: autocompletionText,
          },
          null,
          2,
        ),
        credentials: "same-origin",
        headers: {
          "Content-Type": "application/json; charset=utf-8",
        },
        method: "POST",
      },
    )
    const [result, error] = await validateJsonResponse(
      Autocompletion.validateJson,
    )(response)
    if (error !== null) {
      console.error(
        `Error at ${
          $page.path
        }, while creating autocompletion: ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
      autocompletionId = null
      return
    }
    autocompletionId = result.id

    dispatch("replaceQuestionState", { autocompletionId })
  }

  function selectKnowledge() {
    dispatch("replaceQuestionState", { autocompletionId })
  }

  function validateAutocompleteResult(data) {
    if (data === null || data === undefined) {
      return [data, "Missing value"]
    }
    if (typeof data !== "object") {
      return [data, `Expected an object got "${typeof data}"`]
    }

    data = { ...data }
    const errors = {}
    const remainingKeys = new Set(Object.keys(data))

    {
      const key = "autocompletions"
      remainingKeys.delete(key)
      const [value, error] = validateArray(
        AutocompletionWithDistance.validateJson,
      )(data[key])
      data[key] = value
      if (error !== null) {
        errors[key] = error
      }
    }

    for (let key of remainingKeys) {
      errors[key] = "Unexpected item"
    }
    return [data, Object.keys(errors).length === 0 ? null : errors]
  }
</script>

{#if showChangeKnowledgeDialog}
  <div>
    <button on:click={() => (showChangeKnowledgeDialog = false)} type="button">
      Close
    </button>
    <label for="inputAutocompleteOrCreate_{question.path}">
      {question.label}
    </label>
    <div class="flex">
      <Autocomplete
        divClass="w-full"
        id="inputAutocompleteOrCreate_{question.path}"
        inputClass="appearance-none border focus:outline-none
        focus:shadow-outline leading-tight px-3 py-2 rounded shadow
        text-gray-700 w-full"
        items={autocompletions}
        name={question.name || question.path}
        on:input={autocomplete}
        on:select={autocompletionSelected}
        placeholder="Type first letters…">
        <div class="notification">Loading suggestions…</div>
      </Autocomplete>
      {#if autocompletionId === null}
        {#if autocompletionSlug && !autocompletions.some(autocompletion => autocompletion.slug === autocompletionSlug)}
          <button
            class="border border-red-600 hover:border-red-800 leading-tight ml-1
            px-3 py-2 rounded shadow text-red-600 hover:text-red-800"
            on:click={createKnowledge}
            type="button">
            {$localize("Create")}
          </button>
        {/if}
      {:else}
        <button
          class="border border-green-600 hover:border-green-800 leading-tight
          ml-1 px-3 py-2 rounded shadow text-green-600 hover:text-green-800"
          on:click={selectKnowledge}
          type="button">
          {$localize("Select")}
        </button>
      {/if}
    </div>
  </div>
{:else}
  <div>
    <div>{question.label}</div>
    <p class="italic">{question.autocompletion.text} ?</p>
    <div class="flex justify-between">
      <button
        disabled={readOnly}
        on:click={() => clickYesNoButton(false)}
        type="button">
        {$localize("No")}
        {#if value === false}
          <Icon icon={faThumbsUp} />
        {/if}
      </button>
      <button on:click={() => (showChangeKnowledgeDialog = true)} type="button">
        {$localize("See_all_knowledge")}
      </button>
      <button
        disabled={readOnly}
        on:click={() => clickYesNoButton(true)}
        type="button">
        {#if value === true}
          <Icon icon={faThumbsUp} />
        {/if}
        {$localize("Yes")}
      </button>
    </div>

    {#if !question.required && !hideSkip}
      <Button on:click={() => dispatch("skipQuestion")} type="button">
        {$localize("Skip")}
      </Button>
    {/if}
    <!-- {#if !readOnly && !hideSubmit}
      <Button on:click={() => dispatch('submitAnswer', value)} type="button">
        {$localize("OK")}
      </Button>
    {/if} -->
  </div>
{/if}
