<script>
  import Button from "smelte/src/components/Button"
  import { createEventDispatcher } from "svelte"

  import { localize } from "../../stores"

  export let answer
  export let hideSkip = false
  export let hideSubmit = false
  export let question
  export let readOnly = false
  export let sessionToken
  export let survey
  export let value

  const dispatch = createEventDispatcher()
  const initialValue = value

  $: path = question.path
</script>

<fieldset>
  <legend>{question.label}</legend>
  {#each question.choices as choice, index}
    <input
      bind:group={value}
      disabled={readOnly}
      id="radio_button_{path}_{index}"
      name={question.name || question.path}
      on:change={() => dispatch("valueChanged", {
          initialValue,
          value: choice.value,
        })}
      readonly={readOnly}
      type="radio"
      value={choice.value} />
    <label for="radio_button_{path}_{index}">{choice.label}</label>
  {/each}
  {#if !question.required && !hideSkip}
    <Button on:click={() => dispatch("skipQuestion")} type="button">
      {$localize("Skip")}
    </Button>
  {/if}
  {#if !readOnly && !hideSubmit}
    <Button on:click={() => dispatch("submitAnswer", value)} type="button">
      {$localize("OK")}
    </Button>
  {/if}
</fieldset>
