<script>
  import { faThumbsUp } from "@fortawesome/free-solid-svg-icons/faThumbsUp"
  import Icon from "fa-svelte"
  import Button from "smelte/src/components/Button"
  import { createEventDispatcher } from "svelte"

  import { localize } from "../../stores"

  export let answer
  export let hideSkip = false
  export let hideSubmit = false
  export let question
  export let readOnly = false
  export let sessionToken
  export let survey
  export let value

  const dispatch = createEventDispatcher()
  const initialValue = value

  function clickYesNoButton(newValue) {
    value = newValue
    dispatch("valueChanged", { value, initialValue })
    if (!hideSubmit) {
      dispatch("submitAnswer", value)
    }
  }
</script>

<div>
  <div>{question.label}</div>
  <div class="flex justify-between">
    <button
      disabled={readOnly}
      on:click={() => clickYesNoButton(false)}
      type="button">
      {$localize("No")}
      {#if value === false}
        <Icon icon={faThumbsUp} />
      {/if}
    </button>
    <button
      disabled={readOnly}
      on:click={() => clickYesNoButton(true)}
      type="button">
      {#if value === true}
        <Icon icon={faThumbsUp} />
      {/if}
      {$localize("Yes")}
    </button>
  </div>

  {#if !question.required && !hideSkip}
    <Button on:click={() => dispatch("skipQuestion")} type="button">
      {$localize("Skip")}
    </Button>
  {/if}
  {#if !readOnly && !hideSubmit}
    <Button on:click={() => dispatch("submitAnswer", value)} type="button">
      {$localize("OK")}
    </Button>
  {/if}
</div>
