<script context="module">
  import { Survey } from "@retruco/core/lib/survey"

  import config from "../../../../config"
  import { validateJsonResponse } from "../../../../validators/responses"
  import { localize } from "../../../../stores"

  export async function preload(page /* , session */) {
    const { surveySegment } = page.params
    const response = await this.fetch(
      new URL(
        `surveys/${encodeURIComponent(surveySegment)}`,
        config.api.url,
      ).toString(),
      {
        credentials: "same-origin",
      },
    )
    const [result, error] = await validateJsonResponse(Survey.validateJson)(
      response,
    )
    if (error != null) {
      return this.error(
        `Error at ${page.path}, while retrieving survey: ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
    }
    return { survey: result }
  }
</script>

<script>
  export let survey
</script>

<svelte:head>
  <title>
    {survey.name} | {$localize("Surveys")} | {$localize("Retruco")}
  </title>
</svelte:head>

<h1>{survey.name}</h1>
