<script context="module">
  import { validateChoice } from "@biryani/core"

  import { acceptedLanguages } from "../../../locales"
  import { language, localize } from "../../../stores"

  export function preload(page /* , session */) {
    const [params, error] = validateParams(page.params)
    if (error !== null) {
      return this.error(
        400,
        `Errors in query parameters: ${JSON.stringify(error, null, 2)}`,
      )
    }

    language.set(params.language)
    return { params }
  }

  function validateParams(data) {
    if (data === null || data === undefined) {
      return [data, "Missing value"]
    }
    if (typeof data !== "object") {
      return [data, `Expected an object, got ${typeof data}`]
    }

    data = {
      ...data,
    }
    const remainingKeys = new Set(Object.keys(data))
    const errors = {}

    {
      const key = "language"
      remainingKeys.delete(key)
      const [value, error] = validateChoice(acceptedLanguages)(data[key])
      data[key] = value
      if (error !== null) {
        errors[key] = error
      }
    }

    for (let key of remainingKeys) {
      errors[key] = "Unexpected entry"
    }
    return [data, Object.keys(errors).length === 0 ? null : errors]
  }
</script>

<script>
  import AppBar from "smelte/src/components/AppBar"
  import Button from "smelte/src/components/Button"
  import List from "smelte/src/components/List"
  import ListItem from "smelte/src/components/List/ListItem.svelte"
  import NavigationDrawer from "smelte/src/components/NavigationDrawer"
  import ProgressLinear from "smelte/src/components/ProgressLinear"
  import Tabs from "smelte/src/components/Tabs"
  import { Spacer } from "smelte/src/components/Util"
  import {
    right,
    elevation,
    persistent,
    showNav,
    showNavMobile,
    breakpoint,
  } from "smelte/src/stores.js"
  import { fade } from "svelte/transition"

  import { stores } from "@sapper/app"

  export let params
  export let segment

  const { preloading, page } = stores()

  // let selected = ""
  const bp = breakpoint()

  $: path = $page.path

  $: $language = params.language

  $: navMenu = [
    { to: `presentation/${$language}/about`, text: $localize("About") },
    { to: `presentation/${$language}/clients`, text: $localize("Clients") },
    { to: `presentation/${$language}/proposals`, text: $localize("Proposals") },
    { to: `presentation/${$language}/surveys`, text: $localize("Surveys") },
    { to: `presentation/${$language}/sign_in`, text: $localize("Sign_In") },
  ]

  $: topMenu = [
    { to: `presentation/${$language}/about`, text: $localize("About") },
    { to: `presentation/${$language}/clients`, text: $localize("Clients") },
    { to: `presentation/${$language}/proposals`, text: $localize("Proposals") },
    { to: `presentation/${$language}/surveys`, text: $localize("Surveys") },
    { to: `presentation/${$language}/sign_in`, text: $localize("Sign_In") },
  ]
</script>

{#each navMenu as link}
  <a href={link.to} class="sr-only">{link.text}</a>
{/each}

{#if $preloading}
  <ProgressLinear app />
{/if}

<AppBar>
  <a href="." class="px-2 md:px-8 flex items-center">
    <img src="retruco_icon_48x48.png" alt="Logo de Retruco" width="48" />
    <h6 class="pl-3 text-white tracking-widest font-thin text-lg">Retruco</h6>
  </a>
  <Spacer />
  <Tabs navigation items={topMenu} bind:selected={path} />
  <div class="md:hidden">
    <Button
      icon="menu"
      small
      flat
      remove="p-1 h-4 w-4"
      iconClass="text-white"
      iconClasses={i => i.replace("p-4", "p-3").replace("m-4", "m-3")}
      text
      on:click={() => showNavMobile.set(!$showNavMobile)} />
  </div>
</AppBar>

{#if $bp}
  <main
    class="container relative p-8 lg:max-w-3xl lg:ml-64 mx-auto mb-10 mt-24
    md:ml-56 md:max-w-md md:px-3"
    transition:fade={{ duration: 300 }}>
    <NavigationDrawer
      bind:showDesktop={$showNav}
      bind:showMobile={$showNavMobile}
      right={$right}
      persistent={$persistent}
      elevation={$elevation}
      breakpoint={$bp}>
      <h6 class="p-6 ml-1 pb-2 text-xs text-gray-900">Components</h6>
      <List items={navMenu}>
        <span slot="item" let:item class="cursor-pointer">
          <ListItem
            dense
            id={item.id}
            navigation
            selected={path.includes(item.to)}
            selectedClasses="bg-primary-transLight hover:bg-primary-transLight">
            <a href={item.to}>{item.text}</a>
          </ListItem>
        </span>
      </List>
      <hr />
    </NavigationDrawer>

    <slot />
  </main>
{/if}
