<script context="module">
  import { validateNonEmptyTrimmedString } from "@biryani/core"

  import config from "../../../config"
  import { validateJsonResponse } from "../../../validators/responses"

  export async function preload(page /* , session */) {
    const startQuizSession = async () => {
      const response = await this.fetch(
        new URL("sessions/quiz", config.api.url).toString(),
        {
          credentials: "same-origin",
        },
      )
      const [result, error] = await validateJsonResponse(
        validateStartQuizSessionResult,
      )(response)
      if (error != null) {
        return this.error(
          `Error at ${page.path}, while retrieving language: ${JSON.stringify(
            error,
            null,
            2,
          )}\n\n${JSON.stringify(result, null, 2)}`,
        )
      }
      return result.sessionToken
    }
    const sessionToken = await startQuizSession()

    return {
      sessionToken,
    }
  }

  function validateStartQuizSessionResult(data) {
    if (data === null || data === undefined) {
      return [data, "Missing value"]
    }
    if (typeof data !== "object") {
      return [data, `Expected an object got "${typeof data}"`]
    }

    data = { ...data }
    const errors = {}
    const remainingKeys = new Set(Object.keys(data))

    {
      const key = "sessionToken"
      remainingKeys.delete(key)
      const [value, error] = validateNonEmptyTrimmedString(data[key])
      data[key] = value
      if (error !== null) {
        errors[key] = error
      }
    }

    for (let key of remainingKeys) {
      errors[key] = "Unexpected item"
    }
    return [data, Object.keys(errors).length === 0 ? null : errors]
  }
</script>

<script>
  import { onMount } from "svelte"

  import { localize } from "../../../stores"

  export let sessionToken

  onMount(async () => {
    await import("iframe-resizer/js/iframeResizer")

    // eslint-disable-next-line no-undef
    iFrameResize({ log: false }, "#signInQuiz")
  })
</script>

<svelte:head>
  <title>{$localize("Sign_In")} | {$localize("Retruco")}</title>
</svelte:head>

<h1>{$localize("Sign_In")}</h1>

{#if sessionToken !== null}
  <iframe
    class="min-w-full w-px"
    id="signInQuiz"
    src="embed/surveys/sign_in/quiz?session={encodeURIComponent(sessionToken)}"
    title={$localize("Sign_In")} />
{/if}
