<script>
  import ButtonLink from "../../../../components/ButtonLink"
  import { language, localize } from "../../../../stores"
</script>

<ButtonLink alt="toto" href="presentation/{$language}/proposals/new">
  {$localize("New_Proposal")}
</ButtonLink>