<script>
  import Button from "smelte/src/components/Button"
  import Select from "smelte/src/components/Select"
  import Switch from "smelte/src/components/Switch"
  import TextField from "smelte/src/components/TextField"

  import { stores } from "@sapper/app"
  import config from "../../../../config"
  import { localize } from "../../../../stores"
  import { validateJsonResponse } from "../../../../validators/responses"

  let booleanValue = null
  let fieldType = null
  const fieldTypes = [
    "BooleanField",
    "CardIdField",
    "ImageField",
    "InputEmailField",
    "InputNumberField",
    "InputUrlField",
    "TextField",
  ]
  let httpError = null
  const { page } = stores()
  let textValue = null

  async function submit() {
    let schemaId = null
    let value = null
    let widgetId = null
    switch (fieldType) {
      case "BooleanField":
        schemaId = "schema:boolean"
        widgetId = "widget:input-checkbox"
        value = booleanValue
        break
      case "TextField":
        // TODO: InputTextField & TextAreaField
        schemaId = "schema:string"
        widgetId = "widget:input-text"
        value = textValue
        break
      default:
        throw new Error(`TODO: Invalid field type: ${fieldType}`)
    }
    const response = await fetch(
      new URL("values", config.api.url).toString(),
      {
        body: JSON.stringify(
          {
            schema: schemaId,
            value,
            widget: widgetId,
          },
          null,
          2,
        ),
        credentials: "same-origin",
        headers: {
          "Content-Type": "application/json; charset=utf-8",
        },
        method: "POST",
      },
    )
    const [result, error] = await validateJsonResponse(
      null, // TODO
    )(response)
    if (error !== null) {
      console.error(
        `Error at ${
          $page.path
        }, while creating proposal: ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
      // TODO
      // autocompletionId = null
      return
    }
    console.log(result)
    // autocompletionId = result.id

    // dispatch("replaceQuestionState", { autocompletionId })
  }
</script>

<h1>{$localize("New_Proposal")}</h1>
<form on:submit|preventDefault={submit}>
  {#if httpError !== null}
    <!-- alert -->
    <div role="alert">
      <strong>{$localize("Creation_failed")}</strong>
      {httpError}
    </div>
  {/if}
  {#if fieldTypes.length > 1}
    <Select
      bind:value={fieldType}
      items={fieldTypes
        .map(fieldType => ({ text: $localize(fieldType), value: fieldType }))
        .sort((a, b) => a.text.localeCompare(b.text))}
      label={$localize("Field_Type")} />
  {/if}
  {#if fieldType === "BooleanField"}
    <Switch bind:booleanValue label="{$localize(booleanValue ? "True" : "False")}" />
  {:else if fieldType === "TextField"}
    <!-- TODO: Use an autocompleter. -->
    <TextField
      bind:value={textValue}
      id="textValue"
      label={$localize("Text")}
      required
      type="text" />
  {/if}
  <Button type="submit">{$localize("Create")}</Button>
</form>
